body{
	margin: 0;
}

.title {
	margin: 0 auto;
	text-align: center;
	width: 90%;
	max-width: 600px;
	border-bottom: solid gray 2px;
	font-size: 3em;
}

.description {
	margin: 0 auto;
	text-align: center;
	width: 90%;
	max-width: 600px;
	font-style: italic;
	padding: 5px;
	font-size: 1em;
}

#chat-window{
	margin: 0 auto;
	border: solid gray 2px;
	width: 90%;
	max-width: 600px;
	height: 400px;
	display:block;
}

#chat-input{
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	border: solid gray 2px;
	width: 90%;
	max-width: 580px;
	height: 55px;
	display:block;
	resize: none;
}